
html, body, ul {
 height:100%;
 width:100%;
 margin:0;
 padding:0;
  font-family: "PT Sans", sans-serif;
 font-style: normal;
}
#root {
  background: #e5e5e5;
}
ul {
 list-style-type: none;
}
.app {
 display: flex;
 justify-content: center;
 align-items: center;
 background: #E5E5E5;
 position: relative;
 margin-right: auto;
 margin-left: auto;
 width: 1440px;
}
.background {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 width: 1440px;
 height: 1080px;
 opacity: 0.1;
 border-right: 1px solid #42567A;
 pointer-events: none;
  &__top {
   width: 719px;
   height: 479px;
   pointer-events: none;
   position: relative;
   border-left: 1px solid #42567A;
   border-bottom: 1px solid #42567A;
  }
  &__bottom {
   width: 719px;
   height: 600px;
   pointer-events: none;
   position: relative;
   border-left: 1px solid #42567A;
  }
  &__wheel {
   position: absolute;
   pointer-events: none;
   top: 215px;
   left: 455px;
   width: 528px;
   height: 528px;
   border: 1px solid #42567A;
   border-radius: 50%;
  }
 }
.title {
 position: absolute;
 top: 118px;
 left: 0;
  width: 353px;
  padding-left: 76px;
 font-weight: 700;
 font-size: 56px;
 line-height: 120%;
 color: #42567A;
 border-left: 7px solid;
 border-image: linear-gradient(to bottom, #3877EE, #EF5DA8);
 border-image-slice: 1;
}
.carousel {
  position: absolute;
  z-index: 2;
  width: 528px;
  height: 528px;
  top: 217px;
  .digit {
   pointer-events: none;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 56px;
   height: 56px;
   .description {
    opacity: 0;
    position: absolute;
    right: -67px;
    bottom: 13px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #42567A;
   }
    .description1 {
      left: 65px;
    }
    .description3 {
      left: 65px;
    }
  }
  .digit-invisible {
   visibility: hidden;
  }

  &-item {
   cursor: pointer;
   position: absolute;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #42567A;
  }

  &-item1 {
   top: 31px;
   right: 128px;
  }

  &-item2 {
   top: 260px;
   right: -4px;
  }

  &-item3 {
   top: 488px;
   right: 127px;
  }

  &-item4 {
   top: 489px;
   left: 127px;
  }

  &-item5 {
   top: 260px;
   left: -4px;
  }

  &-item6 {
   top: 31px;
   left: 129px;
  }
 }
.dates {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 394px;
  left: 214px;
  width: 973px;
  height: 160px;
  font-size: 200px;
  line-height: 160px;
  font-weight: 700;
  span:first-child {
   color:#5D5FEF;
   margin-right: 70px;
  }
  span:nth-child(2) {
   color:#ef5da8;
  }
 }
@media only screen and (max-width: 1440px) {
  body {
    display: flex;
  }
}
@media only screen and (max-width: 320px) {
  #root {
    width: 100%;
  }
  .background,
  .carousel{
    display: none;
  }
  .app {
    display: block;
    overflow: hidden;
    background: #F4F5F9;
    width: 100%;
    height: 100%;
  }
  .title {
    width: 123px;
    top: 59px;
    font-size: 20px;
    border: none;
    padding-left: 20px;
  }
  .dates {
    width: 300px;
    height: 73px;
    left: 0;
    padding-left: 20px;
    top: 163px;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  .dates span:first-child {
    color:#3877EE;
    margin-right: 27px;
  }
}