.pagination {
  position: absolute;
  left: 108px;
  bottom: 273px;
  display: flex;
  flex-direction: column;
  &__buttons {
    display: flex;
    span{
      cursor: pointer;
      position: relative;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      border: 1px solid rgba(66, 86, 122, 0.5);
      margin:20px 10px;
      background: transparent;
      transition: 0.2s;
    }
    span:after {
      position: absolute;
      top: 20px;
      left: 20px;
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-left: 2px solid #42567A;
      border-bottom: 2px solid #42567A;
    }
    span:first-child:after{
      transform: rotate(45deg);
    }
    span:nth-child(2):after{
      left: 19px;
      transform: rotate(-135deg);
    }
    span:hover {
      background: #ffffff;
    }
    &-inactive {
      opacity: 0.5;
      span {
        cursor: initial;
      }
      span:hover {
        background: transparent;
      }
    }
  }
  &__pages {
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    color: #42567A;
  }
  &__mobile {
    display: none;
    margin-left: 34px;
    &-circle {
      opacity: 0.4;
      width: 6px;
      height: 6px;
      margin: 11px 5px;
      border-radius: 50%;
      background: #42567A;
      transition: opacity 0.5s
    }
    .activePage {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 430px) {
  .pagination {
    bottom: 60px;
    left:45px;
  }
  .pagination__pages {
    padding-left: 4px;
  }
  .pagination__mobile {
    display: flex;
    margin-left: 40px;
  }
  .pagination__buttons span {
    width: 35px;
    height: 35px;
  }
  .pagination__buttons span {
    margin: 10px 4px;
  }
  .pagination__buttons span:after{
    top:13px;
    left:15px;
    width: 7px;
    height: 7px;
  }
  .pagination__buttons span:nth-child(2):after {
    left: 11px;
  }
}
@media only screen and (max-width: 320px) {
  .pagination {
    bottom: 20px;
    left:17px;
  }
  .pagination__pages {
    padding-left: 4px;
  }
  .pagination__mobile {
    margin-left: 34px;
  }
  .pagination__buttons span {
    width: 23px;
    height: 23px;
  }
  .pagination__buttons span {
    margin: 10px 4px;
  }
  .pagination__buttons span:after{
    top:8px;
    left:9px;
    width: 4px;
    height: 4px;
  }
  .pagination__buttons span:nth-child(2):after {
    left: 8px;
  }
}
